@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100;200;300;400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Adamina&display=swap');
/* --------------------------------
 * base
 * -------------------------------- */

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Raleway, "yu Gothic", Meiryo, sans-serif;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

@media (max-width: 768px) {
  body {
    font-size: 1.3rem;
  }
}

/* --------------------------------
 * header
 * -------------------------------- */

.header {
  position: relative;
  z-index: 1;
}

@media (max-width: 768px) {
  .header {
    padding: 0;
  }
}

.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 24px 120px;
  color: #fff;
}

@media (min-width: 768px) {
  .header_wrapper {
    background-color: #0D395A;
  }
}

@media (max-width: 768px) {
  .header_wrapper {
    padding: 16px;
    border-bottom: 1px solid #979797;
    background-color: #0D395A;
  }
}

.header_start {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .header_start {
    width: 200px;
    padding: 0;
  }
}

.header_end {
  display: flex;
  align-items: center;
}

.logo_wrapper {
  cursor: pointer;
  text-decoration: none;
  font-family: "M PLUS 1", sans-serif;
  color: #fff;
  letter-spacing: 0.1rem;
}

.logo_wrapper:hover {
  opacity: 0.8;
}

.img_logo {
  width: 200px;
}

@media (max-width: 768px) {
  .img_logo {
    width: 200px;
  }
}

#menu_toggle {
  display: none;
}

#menu_toggle {
  position: relative;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

#menu_toggle span {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background-color: #fff;
  width: 45%;
}

#menu_toggle span:nth-of-type(1) {
  top: 8px;
}

#menu_toggle span:nth-of-type(2) {
  top: 14px;
}

#menu_toggle span:nth-of-type(3) {
  top: 20px;
}

.menu_active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.menu_active span:nth-of-type(2) {
  opacity: 0;
}

.menu_active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}

@media (max-width: 768px) {
  #menu_toggle {
    display: block;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
}

.nav_wrapper {
  list-style: none;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

@media (min-width: 768px) {
  .nav_wrapper {
    display: flex;
    background-color: #fff;
  }
}

@media (max-width: 768px) {
  .nav_wrapper {
    visibility: hidden;
    transform: translateY(0);
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    opacity: 1;
    margin: 0;
  }

  .nav_wrapper_active {
    visibility: visible;
    transform: translateY(0);
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    opacity: 1;
    margin: 0;
  }
}

.nav_item a {
  display: block;
  padding: 10px 30px;
  margin: 0;
  text-decoration: none;
  color: #fff;
  font-family: "M PLUS 1", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  text-decoration: none;
  display: block;
  line-height: 2;
  letter-spacing: 0.2rem;
  padding: 0 1.5rem 0.5rem;
}

@media (min-width: 768px) {
  .nav_item a {
    background-color: #0D395A;
  }
}

@media (max-width: 768px) {
  .nav_item a {
    background-color: #0168B7;
  }
}

.nav_item.contact i {
  margin-right: 4px;
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .nav_item.contact i {
    display: none;
  }
}

@media (min-width: 768px) {
  .nav_item.contact a {
    display: block;
    background-color: #00bcd4;
    color: #fff;
    margin-left: 8px;
    border-radius: 5px;
  }

  .nav_item.contact a:hover {
    color: #fff;
    opacity: 0.8;
  }
}

.nav_item a:hover {
  color: #00bcd4;
  transition: 0.15s;
}

@media (max-width: 768px) {
  .nav_item a {
    padding: 1em;
    border-bottom: 1px solid #fff;
  }

  .nav_item a:hover {
    color: #000;
    transition: 0.15s;
    background-color: #E6F2F4;
  }
}

.nav_item .menu_icon {
  display: block;
  width: 28px;
  height: 28px;
  margin: 0 auto 0.5rem;
}

@media (max-width: 768px) {
  .nav_item .menu_icon {
    display: inline-block;
    margin-right: 1rem;
  }
}

@media (min-width: 768px) {
  .nav_wrapper li a {
    position: relative;
  }

  .nav_wrapper li.current a,
  .nav_wrapper li a:hover {
    color: #fff;
  }

  .nav_wrapper li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 80%;
    height: 1px;
    background: #fff;
    transition: all 0.3s;
    transform: scale(0, 1);
    transform-origin: left top;
  }

  .nav_wrapper li.current a::after,
  .nav_wrapper li a:hover::after {
    transform: scale(1, 1);
  }
}

/* --------------------------------
 * top
 * -------------------------------- */
.mv {
  height: 88vh;
  background: url(../img/back.png) center center / cover no-repeat;
}

@media (max-width: 768px) {
  .mv {
    height: 92vh;
    background: url(../img/back_sp.png) center center / cover no-repeat;
  }
}

.typeTextAnime {
  font-size: 2rem;
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  letter-spacing: 0.2em;
  font-family: 'ABeeZee', sans-serif;
  font-size: 5.6rem;
  text-align: center;
  color: #003C6A;
}

.typeTextAnime span {
  display: none;
}

.typeTextAnime::after {
  content: "|";
  animation: typinganime .8s ease infinite;
}

@keyframes typinganime {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

/* --------------------------------
 * heading
 * -------------------------------- */

.heading {
  position: relative;
  display: block;
  padding: 0 75px;
  text-align: center;
  font-weight: 300;
  font-size: 4.8rem;
  letter-spacing: 0.4rem;
  line-height: 3rem;
  width: 360px;
  margin: 64px auto;
  font-family: 'ABeeZee', sans-serif;
  color: #0D395A;
}

.heading .sub {
  font-size: 2.0rem;
  color: #666;
  font-family: "M PLUS 1", sans-serif;
  font-weight: 400;
}

/* --------------------------------
 * button
 * -------------------------------- */

.button_line a {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0 auto;
  padding: 1em 2em;
  width: 280px;
  color: #333;
  font-size: 18px;
  font-weight: 500;
  background-color: #80deea;
  transition: 0.3s;
}

.button_line a::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  width: calc(100%);
  height: calc(100%);
  border: 1px solid #666666;
  transition: 0.2s;
}

.button_line a::after {
  content: "";
  width: 5px;
  height: 5px;
  border-top: 2px solid #333333;
  border-right: 2px solid #333333;
  transform: rotate(45deg);
}

.button_line a:hover::before {
  top: 0;
  left: 0;
}

.button_line a:hover {
  text-decoration: none;
}

.button_arrow {
  position: relative;
  background: #ef6c00;
  padding: 20px 20px 20px 20px;
  width: 300px;
  display: inline-block;
  text-align: center;
  transition: all 0.2s linear;
  color: #fff;
  text-decoration: none;
  border: transparent 2px solid;
  outline: none;
  letter-spacing: 0.2rem;
  border-radius: 100px;
}

.button_arrow:hover {
  opacity: 0.8;
  transition: 0.15s;
}

.button_arrow::after {
  content: "";
  position: absolute;
  top: 45%;
  right: 20px;
  border: 4px solid transparent;
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-left-color: #fff;
  transition: all 0.2s linear;
}

.button_arrow:hover::after {
  right: 20px;
}

.wrapper_button {
  display: block;
  padding: 32px 0;
  text-align: center;
}

/* --------------------------------
 * about
 * -------------------------------- */
.about {
  max-width: 960px;
  margin: 0 auto 96px;
  padding: 8px;
}

.about .portrait {
  width: 32%;
  float: left;
}

.about .portrait img {
  width: 100%;
}

.fadeUp{
  animation-name:fadeUpAnime;
  animation-duration:0.5s;
  animation-fill-mode:forwards;
  opacity:0;
  }
  
  @keyframes fadeUpAnime{
    from {
      opacity: 0;
    transform: translateY(100px);
    }
  
    to {
      opacity: 1;
    transform: translateY(0);
    }
  }
  
 
.fadeUpTrigger{
  opacity: 0;
}
.about .info {
  width: 64%;
  float: right;
}

h3 {
  position: relative;
  padding: 1rem 2rem calc(1rem + 4px);
  background: #b2ebf2;
  font-size: 1.8rem;
  font-family: "M PLUS 1", sans-serif;
  font-weight: 400;
  letter-spacing: 0.2rem;
}

h3:before {
  position: absolute;
  top: -7px;
  left: -7px;
  width: 100%;
  height: 100%;
  content: "";
  border: 1px solid #333;
}

.about .info h3 i {
  margin: auto 8px;
}

.about .info p {
  line-height: 180%;
  padding-top: 8px;
}

.about .info .po_name {
  font-weight: 600;
  font-size: 2.4rem;
  color: #0168B7;
}

@media (max-width: 768px) {
  .about .info .po_name {
    display: inline-block;
    width: 100%;
    font-weight: 600;
    font-size: 2.4rem;
    color: #0168B7;
    text-align: center;
  }

  .about .info .career {
    text-align: center;
  }

  .about .portrait {
    width: 100%;
    padding: auto;
  }

  .about .portrait img {
    display: block;
    width: 72%;
    margin: 0 auto 24px;
  }

  .about .info {
    width: 100%;
    clear: both;
  }

  .sub_info {
    margin-top: 32px;
    width: 100%;
    text-align: center;
  }
}

.sub_info {
  margin-top: 32px;
  width: 100%;
}

.box {
  position: relative;
  margin: 32px 0;
  padding: 0.5em 1em;
  border: solid 1px #0168B7;
}

.box .box-title {
  position: absolute;
  display: inline-block;
  top: -13px;
  left: 10px;
  padding: 0 9px;
  line-height: 1;
  font-size: 1.6rem;
  background: #fff;
  font-weight: bold;
  color: #0168B7;
}

.box p {
  margin: 0;
  padding: 0 6px;
}

/* --------------------------------
 * works
 * -------------------------------- */
.works {
  max-width: 960px;
  margin: 0 auto 96px;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 32px;
}

.works .item {
  padding: 0px;
  width: 32%;
  height: 240px;
  background-color: #E6E6E6;
  border-radius: 10px;
  
  opacity: 0;
}

.works .item img {
  width: 100%;
  height: 240px;
  transition: all .15s;
  border-radius: 10px;
  border: 1px solid #E6E6E6;
}

.works .item img:hover {
  border-color: transparent;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
}

@media (min-width: 768px) {
  .item:not(:nth-child(3n + 3)) {
    margin-right: 2%;
  }

  .item:nth-child(n + 4) {
    margin-top: 24px;
  }
}

@media (max-width: 768px) {
  .works .item {
    padding: 0px;
    width: 280px;
    height: 200px;
    background-color: #d6d6d6;
    margin: 8px auto;
  }

  .works .item img {
    width: 280px;
    height: 200px;
  }
}

.fadeUpInOrder {
  animation-name:fadeUpAnime;
  animation-duration:0.5s;
  animation-fill-mode:forwards;
  opacity: 0;
  }
  
  @keyframes fadeUpAnime{
    from {
      opacity: 0;
    transform: translateY(100px);
    }
  
    to {
      opacity: 1;
    transform: translateY(0);
    }
  }


/* --------------------------------
 * contact
 * -------------------------------- */

.contact {
  background-color: #EBF4F7;
  padding: 64px 0;
}

/* --------------------------------
 * works_info
 * -------------------------------- */

.works_info {
  max-width: 960px;
  margin: auto;
}

.works_info .heading {
  margin: 96px auto 120px;
}

.works_info .item {
  margin: 0 auto;
  padding: 8px;
  margin-bottom: 96px;
}

.works_info .item table th {
  background: #EFEFEF;
  color: #333;
  padding: 10px;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  border-radius: 5px;
}

.works_info .item table td {
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .works_info .item table {
    border-collapse: separate;
    border-spacing: 0px 4px;
  }

  .works_info .item table tr {
    margin: 8px;
  }

  .works_info .item table th {
    width: 20%;
    border: none;
  }

  .works_info .item table td {
    border: none;
    padding: 16px;
  }
}

@media screen and (max-width: 768px) {
  .last td:last-child {
    width: 100%;
  }

  .works_info .item table td {
    padding: 16px;
  }

  .works_info .item table th,
  .works_info .item table td {
    border-bottom: none;
    display: block;
    width: 100%;
    text-align: center;
  }
}

.works_info .image {
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
}

.works_info .image a {
  outline: none;
}

.works_info .image img {
  width: 100%;
  max-width: 960px;
  border: 1px solid #E6E6E6;
}

.works_info .title {
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  color: #0168B7;
  transition: 0.15s;
}

.works_info .title:hover {
  opacity: 0.6;
}

.works_info .skills {
  margin: 8px 0;
}

/* --------------------------------
 * footer
 * -------------------------------- */
footer {
  margin: 0;
  padding: 8px 0;
  background-color: #0D395A;
}

footer p {
  font-size: 1.4rem;
  display: block;
  margin: 0;
  text-align: center;
  color: #fff;
  height: 100%;
}